<%= form_for(@aile) do |f| %>
  <% if @aile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aile.errors.count, "error") %> prohibited this aile from being saved:</h2>

      <ul>
      <% @aile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modele %><br>
    <%= f.text_field :modele %>
  </div>

  <div class="field">
    <%= f.select(:marque_id, Marque.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select marque') %>
  </div>


  <div class="field">
    <%= f.label :annee %><br>
    <%= f.number_field :annee %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.number_field :note %>
  </div>

  <div class="field">
    <%= f.label :prix_10m_sans_barre %><br>
    <%= f.number_field :prix_10m_sans_barre %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>


</br></br>

<div class="field">
  <%= f.label :url_flysurf %><br>
  <%= f.text_field :url_flysurf %>
</div>

<div class="field">
  <%= f.label :url_vagueetvent %><br>
  <%= f.text_area :url_vagueetvent %>
</div>

<div class="field">
  <%= f.label :url_freerideattitude %><br>
  <%= f.text_field :url_freerideattitude %>
</div>

</br></br>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :score_relaunch %><br>
    <%= f.text_field :score_relaunch %>
  </div>

  <div class="field">
    <%= f.label :score_highwind %><br>
    <%= f.text_field :score_highwind %>
  </div>

  <div class="field">
    <%= f.label :score_lowwind %><br>
    <%= f.text_field :score_lowwind %>
  </div>

  <div class="field">
    <%= f.label :score_easyofuse %><br>
    <%= f.text_field :score_easyofuse %>
  </div>

  <div class="field">
    <%= f.label :score_wave %><br>
    <%= f.text_field :score_wave %>
  </div>

  <div class="field">
    <%= f.label :score_unhooked %><br>
    <%= f.text_field :score_unhooked %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
