<%= render "shared/notcaroussel" %>


<h1 class="text-center">Les ailes de kitesurf</h1>


<div id="mycont"> </div>


<div class="btn-group pull-right">
	<a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
		Trier par&nbsp;
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/ailesparprix">Prix</a></li>
		<li><a href="/ailesparnote">Note</a></li>
	</ul>
</div>
<br>


<br>
<ul class="thumbnails" >

<% @ailes.each do |aile| %>
<li class="span4">
	<div class="thumbnail">

		<% @image_url = Marque.find(aile.marque_id).name + "_" + aile.modele + "_" + aile.annee.to_s() %>
		<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
		<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-small.png"  end%>
		<%= image_tag @image_url %>

		<h4 class="text-center"><%= link_to Marque.find(aile.marque_id).name + " " + aile.modele + " " + aile.annee.to_s(), aile  %></h4>
		<p class="text-center">
			<% if not aile.note.nil? then %>
			<% (aile.note).times do %>
			<%== '<i class="icon-star"></i>' %>
			<% end %>
			<% (5 - aile.note).times do %>
			<%== '<i class="icon-star-empty"></i>' %>
			<% end %>
			<% end %>


			<% if not aile.prix_10m_sans_barre.nil? then %>
			<%== "&nbsp;" * 15 %>
			<%=='<small>10m² à <strong>' + aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>
			<br>
			<br>
			<%= link_to "Accéder aux prix et avis",aile,:class=>"btn btn-small btn-danger text-center"  %>


			<% else %>
			<%== "&nbsp;" * 5 %>
			<%== '<small class="text-error">Non disponible en neuf.</small>' %>
			<br>
			<br>
			<%= link_to "Accéder aux avis",aile,:class=>"btn btn-small btn-danger text-center"  %>
			<% end %>
			
			&nbsp;&nbsp;&nbsp;
			<small class="btn btn-small btn-info" onclick="check_box(<%= aile.id %>)">Comparer <input id="aile" name="<%= aile.id %>" type="checkbox" onclick="hack_click(this)" /></small>

		</p>

	</div>
</li>
<% end %>
</ul>
</div>


<style>
.alert{
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
}
.mydiv {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	
	padding-left: 20px;
	padding-right: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-top-style: solid;
	border-color: #000000;
	border-width:1px;
	
	
	background-position: center top;

	background: #ffffff;
	color: #000000;
	
	text-align:center;

	
}
.thumbnails {
	text-align: center;
}
.thumbnail {
	display: inline-block;
	margin: auto;
	width: 300px;

}
.thumbnails li {
	float: none !important;
	display: inline-block;
	*display: inline; /* ie7 support */
	zoom: 1;
}

.span4 {
	width: 300px;
}

</style>
