<div class="container-fluid showaile">
	<div class="row-fluid">
		<div class="span6 bigimage mobile">

			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-large.png" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.png"  end%>
			<%= image_tag @image_url %>
		</div>
		<div class="span5 plusdemarge mobile">
			<h1 class="text-center"> <%= Marque.find(@aile.marque_id).name + " " + @aile.modele %> </h1>
			<h3 class="text-center"> <%=@aile.annee.to_s() %> </h3>
			<p class="text-center">
				<% if not @aile.note.nil? then %>
				<% (@aile.note).times do %>
				<%= image_tag "full_star_32.png" %>
				<% end %>
				<% (5 - @aile.note).times do %>
				<%= image_tag "empty_star_32.png" %>
				<% end %>
				<% end %>
			</p>




			<p class="text-center">
				<% tags = @aile.tags.split(',') %>
				<% if (! tags.empty?) %>
				<span class="label resetbouton"><%= tags[0] %></span>
				<span class="label resetbouton"><%=tags[1].titleize %></span>

				<% if !tags[2].nil? %>
				<%== '<span class="label resetbouton">' + tags[2] + '</span>'%>
				<% end %>
				<% end %>
			</p>

			<table align="center">
				<tr>
					<td><h5 class="text-center"> <%= @aile.vote.to_s %> &nbsp;<%= image_tag("heart_32.png") %></h5></td>

					<td><p class="text-center" style="margin: 0;">&nbsp;<%= link_to "Vous l'aimez aussi ?", vote_path(@aile.id), :method => :post %></p></td>
				</tr>
			</table>

			<p id="notice" class="text-center"><%= notice %></p>
			<br><br>



			<h4>Particularités</h4>
			
			</br>
			
			<table style="text-align:left !important;">
				<%== generateParticulariteAile(@aile) %>
			</table>
			
			</br></br>
		</div>
	</div>	


	<div class="row-fluid">
			
		<% @critiques = CritiqueAile.where(aile_id: @aile.id)%>
		<% if !(@critiques.count==0) %>	
					
		<div class="span6 plusdemarge mobile">
			<h4>Avis d'utilisateurs</h4>
			</br>

			<% @critiques.each do |critique| %>
			<blockquote style="text-align:left !important;">
				<%== if critique.type_critique_id==1 then '<i class="icon-thumbs-up"></i>' end %>
				<%== if critique.type_critique_id==2 then '<i class="icon-thumbs-down"></i>' end %>
				<%== if critique.type_critique_id==3 then '<i class="icon-pencil"></i>' end %>
				<p><%= critique.contenu %></p>
				<small><%= link_to critique.source, critique.lien, :rel => 'nofollow'%></small>
			</blockquote>
			<% end %>
			</br></br>
		</div> <!-- extraits avis -->
		<% end %>
				

		<% if !(@aile.test_link == "") %>
		<div class="span6 plusdemarge mobile">
		<h4>Liens vers des tests</h4>
		</br>
			<% 
			@all_tests = @aile.test_link.split("\n")
			@all_tests.each do |line|          
				one_test = line.split(';')
				@lang = one_test[0].to_s
				@name_test = one_test[1].to_s
				@url_test = one_test[2].to_s
				%>

				<div class="btn btn-small btn-success boutonstests"><%= image_tag @lang.downcase + ".png", :class=>"flag" %> <%= link_to  @name_test, @url_test, :style=>"color:white;text-align:center;", :rel => 'nofollow' %></div>
				
				<br>

			<% end	%>
			

			</br></br>
		</div> <!-- reviews -->
		<% end %>
				
	</div>





	<% c = tableFromPrix(@aile.id) %>
	<% if !(c==0) %>
	
	<h4>Les prix sur le net</h4>
	</br>

	<% c1 = c.slice(0,c.length/3) %>
	<% c2 = c.slice(c.length/3,c.length/3) %>
	<% c3 = c.slice((2*c.length)/3,10) %>

	<div class="row-fluid">
		<% if !(@prixs == []) %>
		<div class="span4"><%== generateTableHTML(c1) %></div>						
		<div class="span4"><%== generateTableHTML(c2) %></div>	
		<div class="span4"><%== generateTableHTML(c3) %></div>		
	</div>	

	<% end %>
	<% end %>

	</br></br>



	<div class="row-fluid">

		<div class="span6 plusdemarge mobile">
		<%  @groupeaile = GroupeAile.all.where("idailes LIKE '%;" + @aile.id.to_s + ";%'") %>
		<% if !(@groupeaile.empty?) %>
		
			<h4>Ailes semblables</h4>
			</br>
			<% @groupeaile.each do |groupe| %>

				<!-- <h5><%= groupe.titre %></h5> -->
				<% @ailes = Array.new %>
				<% @ids = groupe.idailes.split(";") %>
				<% @ids.each do |id_aile| %>
				<% id_aile = id_aile.gsub(" ","")%>
				<% if !(id_aile.to_i == @aile.id.to_i) && (id_aile.to_i > 0) %>
				<% @ailes.push(Aile.find(id_aile)) %>
				<% end %>

				<% end %>
				<% @light=1 %>
				<%= render 'ailes/thumbnails' %>
				<% end %>
			</br>
		<%end%>
		</div> <!-- span autre ailes -->
		

		<% if !(@aile.description == "") %>
		<div class="span6 plusdemarge mobile">
			<h4>Description</h4>
			</br>
			<div style="margin: auto; text-align: center;">
				<div class="desc_officielle">
					<%= simple_format @aile.description.gsub("\n","\n \n") %>
				</div>
			</div>
	</div> <!-- span description officielle -->
	<% end %>

	</div>
	
</div>
