<div class="container-fluid showaile">
	<div class="row-fluid">
		<div class="span6 bigimage">

			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-large.png" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.png"  end%>
			<%= image_tag @image_url %>
		</div>
		<div class="span5 plusdemarge">
			<h1 class="text-center"> <%= Marque.find(@aile.marque_id).name + " " + @aile.modele %> </h1>
			<h3 class="text-center"> <%=@aile.annee.to_s() %> </h3>
			<p class="text-center">
				<% if not @aile.note.nil? then %>
				<% (@aile.note).times do %>
				<%= image_tag "full_star_32.png" %>
				<% end %>
				<% (5 - @aile.note).times do %>
				<%= image_tag "empty_star_32.png" %>
				<% end %>
				<% end %>
			</p>




			<p class="text-center">
				<% tags = @aile.tags.split(',') %>
				<% if (! tags.empty?) %>
				<span class="label label-warning resetbouton"><%= tags[0] %></span>
				<span class="label label-info resetbouton"><%=tags[1].titleize %></span>
				
				<% if !tags[2].nil? %>
				<%== '<span class="label label-important resetbouton">' + tags[2] + '</span>'%>
				<% end %>
				<% end %>
			</p>
			

			<table align="center">
				<tr>
					<td><h5 class="text-center"> <%= @aile.vote.to_s %> &nbsp;<%= image_tag("heart_32.png") %></h5></td>

					<td><p class="text-center" style="margin: 0;">&nbsp;<%= link_to "Vous l'aimez aussi ?", vote_path(@aile.id), :method => :post %></p></td>
				</tr>
			</table>
			<p id="notice" class="text-center"><%= notice %></p>


			<br><br>




			<h4>Particularités de l'aile</h4>
		</br>
		<%  if (@aile.score_relaunch==-1) &&  (@aile.score_highwind==-1) && (@aile.score_lowwind==-1) && (@aile.score_easyofuse==-1) && (@aile.score_wave==-1) && (@aile.score_unhooked==-1) %>
		<%= "Désolé, aucun détail n'est disponible pour cette aile." %>
		<% end %>

		<table>

			<%  if !(@aile.score_relaunch==-1) %>
			<%== '<tr><td>Facilité au redécollage :</td><td>'%>
				<%(@aile.score_relaunch/2).round(0).times do |n| %>
				<%= image_tag "score/hori/1.png" %>
				<%	end  %>

				<%(4.999 - @aile.score_relaunch/2).round(0).times do |n| %>
				<%= image_tag "score/hori/0.png" %>
				<%	end  %>

				<%== "</td></tr>" %>	
				<%	end	  %>


				<%  if !(@aile.score_highwind==-1) %>
				<%== "<tr><td>Plage haute :</td><td>"%>
					<%(@aile.score_highwind/2).round(0).times do |n| %>
					<%= image_tag "score/hori/2.png" %>
					<%	end  %>
					<%(4.999 - @aile.score_highwind/2).round(0).times do |n| %>
					<%= image_tag "score/hori/0.png" %>
					<%	end  %>

					<%== "</td></tr>" %>	
					<%	end	  %>



					<%  if !(@aile.score_lowwind==-1) %>
					<%== "<tr><td>Plage basse :</td><td>"%>
						<%(@aile.score_lowwind/2).round(0).times do |n| %>
						<%= image_tag "score/hori/3.png" %>
						<%	end  %>
						<%(4.999 - @aile.score_lowwind/2).round(0).times do |n| %>
						<%= image_tag "score/hori/0.png" %>
						<%	end  %>
						<%== "</td></tr>" %>	
						<%	end	  %>


						<%  if !(@aile.score_easyofuse==-1) %>
						<%== "<tr><td>Facilité d'utilisation :</td><td>"%>
							<%(@aile.score_easyofuse/2).round(0).times do |n| %>
							<%= image_tag "score/hori/4.png" %>
							<%	end  %>

							<%(4.999 - @aile.score_easyofuse/2).round(0).times do |n| %>
							<%= image_tag "score/hori/0.png" %>
							<%	end  %>
							<%== "</td></tr>" %>	
							<%	end	  %>



							<%  if !(@aile.score_wave==-1) %>
							<%== "<tr><td>Comportement dans les vagues : &nbsp;</td><td>"%>
								<%(@aile.score_wave/2).round(0).times do |n| %>
								<%= image_tag "score/hori/5.png" %>
								<%	end  %>
								<%(4.999 - @aile.score_wave/2).round(0).times do |n| %>
								<%= image_tag "score/hori/0.png" %>
								<%	end  %>
								<%== "</td></tr>" %>	
								<%	end	  %>


								<%  if !(@aile.score_unhooked==-1) %>
								<%== "<tr><td>Comportement en déhooké :</td><td>"%>
									<%(@aile.score_unhooked/2).round(0).times do |n| %>
									<%= image_tag "score/hori/6.png" %>
									<%	end  %>

									<%(4.999 - @aile.score_unhooked/2).round(0).times do |n| %>
									<%= image_tag "score/hori/0.png" %>
									<%	end  %>
									<%== "</td></tr>" %>	
									<%	end	  %>
								</table>
							</br></br>
						</div>


						<div class="span12 showprix">
							<br><br>
							<h4>Les prix dans les shops</h4>
							<br>	
						</div> <!-- span12 pour les prix-->
					</div>	

					<% c = tableFromPrix(@aile.id) %>
					<% if !(c==0) %>
					<% c1 = c.slice(0,c.length/3) %>
					<% c2 = c.slice(c.length/3,c.length/3) %>
					<% c3 = c.slice((2*c.length)/3,10) %>
					<div class="row">
						<% if !(@prixs == []) %>
						<div class="span4"><%== generateTableHTML(c1) %></div>						
						<div class="span4"><%== generateTableHTML(c2) %></div>	
						<div class="span4"><%== generateTableHTML(c3) %></div>		
					</div>	

					<% end %>
					<% end %>

				</br></br>



				<div class="row-fluid">
					<div class="span12"></div>							
					<div class="span5">
						<h4>Avis d'utilisateurs</h4>
					</br>
					<% @critiques = CritiqueAile.where(aile_id: @aile.id)%>

					<% if (@critiques.count==0) %>
					<%= "Oups, aucun avis d'utilisateur n'est disponible pour cette aile." %>
					<% end %>

					<% @critiques.each do |critique| %>
					<blockquote>
						<%== if critique.type_critique_id==1 then '<i class="icon-thumbs-up"></i>' end %>
						<%== if critique.type_critique_id==2 then '<i class="icon-thumbs-down"></i>' end %>
						<%== if critique.type_critique_id==3 then '<i class="icon-pencil"></i>' end %>
						<p><%= critique.contenu %></p>
						<small><%= link_to critique.source, critique.lien%></small>
						<%=  %>
					</blockquote>
					<% end %>
				</br></br>
			</div> <!-- avis simples -->


			<div class="span6">
				<h4>Liens vers des tests et reviews de l'aile</h4>
				<% if @aile.test_link == "" %>
					<%= "Oups, aucun test n'est disponible pour cette aile." %>
				<% else %>
				
					<% 
					@all_tests = @aile.test_link.split("\n")
					@all_tests.each do |line|          
						one_test = line.split(';')
						@lang = one_test[0].to_s
						@name_test = one_test[1].to_s
						@url_test = one_test[2].to_s
						%>
						
						<%= link_to  @name_test, @url_test, :class=>"btn btn-small btn-success boutonstests" %> 
						<%= image_tag @lang.downcase + ".png" %>
						<br>
						
						<% end	%>
					<% end %>
				
				</br></br>
			</div> <!-- reviews -->

			<div class="span6">
				<h4>Description officielle</h4>
				<center>
				</br>

				<% if @aile.description == "" %>
				<%= "Oups, aucune description n'est disponible pour cette aile." %>
				<% end %>
				<div class="desc_officielle">
					<%= simple_format @aile.description.gsub("\n","\n \n") %>
				</div>
				</center>
			</div> <!-- description officielle -->
			

		
	</div>
	</div>






