<p id="notice"><%= notice %></p>

<p>
  <strong>Modele:</strong>
  <%= @aile.modele %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @aile.marque_id %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @aile.annee %>
</p>

<p>
  <strong>Note:</strong>
  <%= @aile.note %>
</p>

<%= link_to 'Edit', edit_aile_path(@aile) %> |
<%= link_to 'Back', ailes_path %>
