<p id="notice"><%= notice %></p>

<p>
  <strong>Modele:</strong>
  <%= @aile.modele %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @aile.marque_id %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @aile.annee %>
</p>

<p>
  <strong>Note:</strong>
  <%= @aile.note %>
</p>

<%= link_to 'Edit', edit_aile_path(@aile) %> |
<%= link_to 'Back', ailes_path %>

<br><br>
<h4>Critiques</h4>
<% @critiques = CritiqueAile.where(aile_id: @aile.id)%>

<% @critiques.each do |critique| %>
  	<blockquote>
		<%== if critique.type_critique_id==1 then '<i class="icon-heart"></i>' end %>
		<%== if critique.type_critique_id==2 then '<i class="icon-thumbs-down"></i>' end %>
		<%== if critique.type_critique_id==3 then '<i class="icon-asterisk"></i>' end %>
		<p><%= critique.contenu %></p>
  		<small><%= critique.source %></small>
	</blockquote>
<% end %>


<br><br>
<h4>Prix</h4>
<% @prixs = PrixSurShop.where(aile_id: @aile.id)%>

<% @prixs.each do |prix| %>
  	<blockquote>
		<p><%= prix.prix_sans_barre %></p>
  		<small><%= prix.nom_shop %></small>
	</blockquote>
<% end %>



