<section class="section" id="section5" data-section="5"><br><h3 class="text-center white">Les derniers articles du blog</h3>
<div class="row-fluid"><br>
<div class="span2 offset2"><p>
<a class="white" href="http://blog.comparekite.com/post/72208110608/les-differents-types-dailes-de-kitesurf-shape"><%= image_tag "arrow_left.png", :size => "24x24" %>Les différents types d’ailes de kitesurf (shapes)
</a></p></div>
<div class="span2 offset1"><p>
<a class="white" href="http://blog.comparekite.com/post/72195696856/vaut-il-mieux-opter-pour-une-barre-a-4-lignes-ou-5"><%= image_tag "arrow_left.png", :size => "24x24" %>Vaut-il mieux opter pour une barre à 4 lignes ou 5 lignes pour son aile de kitesurf ?
</a></p></div>
<div class="span2 offset1"><p>
<a class="white" href="http://blog.comparekite.com/post/70089450370/test-de-la-barre-universelle-kite-attitude-2014"><%= image_tag "arrow_left.png", :size => "24x24" %>Test de la barre universelle Kite Attitude 2014
</a></p></div>
</div> <!-- rowfluid -->
<div class="row-fluid"><br>
<div class="span2 offset2"><p>
<a class="white" href="http://blog.comparekite.com/post/60174714295/acheter-son-aile-de-kitesurf-doccasion-a-quoi-faire"><%= image_tag "arrow_left.png", :size => "24x24" %>Acheter son aile de kitesurf d’occasion, à quoi faire attention ?
</a></p></div>
<div class="span2 offset1"><p>
<a class="white" href="http://blog.comparekite.com/post/60160220190/lexique-du-kitesurf"><%= image_tag "arrow_left.png", :size => "24x24" %>Lexique du kitesurf
</a></p></div>
<div class="span2 offset1"><p>
<a class="white" href="http://blog.comparekite.com/post/59183695443/les-clips-des-nouveautes-kitesurf-2014"><%= image_tag "arrow_left.png", :size => "24x24" %>Les clips des nouveautés kitesurf 2014
</a></p></div>
</div> <!-- rowfluid -->
</section><br>
