<%= render "shared/notcaroussel" %>

<h2 class="text-center">Niveau avancé <small>Les meilleures ailes de kitesurf</small></h2>
<br>
<h3>Polyvalentes</h3>

<% 
@ID=4 #ID de l'aide à changer 
@titre="Résistance aux chocs"
@aile = Aile.find(@ID)
%>

<div class="row-fluid">
	<div class="containercadre">
		<div class="span6">
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>
					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
						</div>
					</div>
				</div>
				<br>
				<p class="lead_guide justify">L'Evo devrait vous suivre quel que soit votre discipline. Sa facilité au redécollage permet de tenter de nouvelles manoeuvres et figures. De plus, l'aile est résistante aux chocs, ce qui présage d'une bonne durée de vie. Finalement son principal défaut reste son prix, élevé par rapport à la concurrence.</p>
			</div>
		</div>
		<div class="span6">

			<% 
			@ID=14 #ID de l'aide à changer 
			@titre="Excellent rapport qualité/prix"
			@aile = Aile.find(@ID)
			%>
	
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>

					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
							<br>
						</div>
					</div>
				</div>
				<p class="lead_guide justify">La Park reste l'aile polyvalente au meilleur rapport qualité/prix. Dans l'ensemble, c'est une bonne aile qui devrait satisfaire le plus grand nombre. Cependant, il n'y pas de grand changement comparé à l'année précédente, il peut donc être plus intéressant d'acheter l'<a href="/ailes/13-naish-park-2012">ancienne génération</a>. L'aile dispose aussi d'une faible puissance dans sa plage basse.</p>
			</div>
		</div>
	</div>
</div>


<br>
<h3>Waveride</h3>
<% 
@ID=12 #ID de l'aide à changer 
@titre="Réactive"
@aile = Aile.find(@ID)
%>
<div class="row-fluid">
	<div class="containercadre">
		<div class="span6">
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>
					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
						</div>
					</div>
				</div>
				<br/>
				<p class="lead_guide justify">La Neo possède un depower impressionnant ce qui est donc un grand atout en surf. L'aile est maniable et réactive, malgré un faible hangtime. Sa plage de vent reste dans la moyenne. Elle tient aussi très bien au zénith. Sa résistance aux chocs exemplaire en fait une aile sure. Finalement cette voile reste assez chère par rapport à la concurrence.</p>
			</div>
		</div>
	

		<% 
		@ID=2 #ID de l'aide à changer 
		@titre="Polyvalence orientée waveride"
		@aile = Aile.find(@ID)
		%>
		
		<div class="span6">
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>
					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
						</div>
					</div>
				</div>
				<br/>
				<p class="lead_guide justify">Cette année, la Bandit est encore plus polyvalente : le déhooké devient plus facile. Cependant elle reste toujours très bonne dans les vagues. Sa plage basse est irréprochable mais sa plage haute est beaucoup moins bonne. Son prix est très raisonnable par rapport à la concurrence. Malgré une grande pression sur la barre, elle reste une aile de référence.</p>
			</div>
		</div>
	</div>
</div>







<br>
<h3>Freestyle & wakestyle</h3>
<% 
@ID=3 #ID de l'aide à changer 
@titre="De longs sauts"
@aile = Aile.find(@ID)
%>


<div class="row-fluid">
	<div class="containercadre">
		<div class="span6">
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>
					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
						</div>
					</div>
				</div>
				<br>
				<p class="lead_guide justify">La Vegas est l'aile dédiée au wakestyle/freestyle. Très réactive grâce à un bon lift (???) et un bon hangtime (???), de quoi se procurer de bonnes sensations en saut. Sa plage d'utilisation est par contre assez limitée. Son principal défaut reste, comme sur toute la gamme North, son prix élevé.</p>
			</div>
		</div>
<% 
@ID=21 #ID de l'aide à changer 
@titre="Pour les pros"
@aile = Aile.find(@ID)
%>
		<div class="span6">
			<div class="cadre">
				<div class="row-fluid">
					<div class="span6">
						<center>
							<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
							<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
							<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
							<%= image_tag @image_url %>
						</center>
					</div>
					<div class="span6">
						<div class="titlewing">
							<h3 class="text-center"><%= @titre %><br/></h3>
							<h4 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h4>
							<center>
								<% if not @aile.prix_10m_sans_barre.nil? then %>
								<%=='<small>10m² à <strong>' + @aile.prix_10m_sans_barre.to_s + ' €</strong></small>'%>	
								<% end %>			
								<br><br>
								<%= link_to "Prix et avis de l'aile",@aile,:class=>"btn btn-danger"  %>
							</center>
						</div>
					</div>
				</div>
				<br>
				<p class="lead_guide justify">La Chaos est une aile spécialisée pour le freestyle/wakestyle. Cependant, l'aile est réservée aux riders confirmés et présente une faible plage basse. Le redécollage n'est pas des plus facile non plus. Son prix reste dans le moyenne mais plus élevé que la North Vegas.</p>
			</div>
		</div>
	</div>
</div>
