<%= render "shared/notcaroussel" %>

<% 
@ID=4 #ID de l'aide à changer 
@aile = Aile.find(@ID)
%>

<h1 class="text-center">Niveau débutant</h3>

<br>

<div class="cadre">
	  <h2 class="text-center">Polyvalente & Résistante<br/></h2>
	<h3 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h3>
	<div class="row-fluid">
		<div class="span3">
			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
			<%= image_tag @image_url %>
		</div>
		<div class="span9">
			<br/>
			<p class="lead justify">La Evo est une aile très polyvalente qui s'adapte à tous les domaines, que l'on soit débutant ou rider confirmé, elle vous suivra le long de votre progression. Le redécollage est facile de sorte à pouvoir essayer de nouvelles choses. L'aile est vraiment résistante aux chocs. Son prix reste très élevé par rapport a la concurrence.</p>
		</div>
	</div>
</div>
<% 
@ID=14 #ID de l'aide à changer 
@aile = Aile.find(@ID)
%>


<br>

<div class="cadre">
	  <h2 class="text-center">Polyvalente & Pas chère<br/></h2>
	<h3 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h3>
	<div class="row-fluid">
		<div class="span3">
			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
			<%= image_tag @image_url %>
		</div>
		<div class="span9">
			<br/>
			<p class="lead justify">La Park . Elle devrait vous satisfaire pour de la navigation simple et pour débuter le freestyle. Son prix bas et un grand atout pour ceux qui ne veulent pas dépenser beaucoup dans une aile. Néanmoins, l'aile n'a pas trop évolué depuis <a href="/ailes/13-naish-park-2012">l'année précédente.</a></p>
		</div>
	</div>
</div>
<% 
@ID=20 #ID de l'aide à changer 
@aile = Aile.find(@ID)
%>


<br>

<div class="cadre">
	  <h2 class="text-center">Polyvalente & Abordable<br/></h2>
	<h3 class="text-center"><%= Marque.find(@aile.marque_id).name + " " + @aile.modele + " " + @aile.annee.to_s()%></h3>
	<div class="row-fluid">
		<div class="span3">
			<% @image_url = Marque.find(@aile.marque_id).name + "_" + @aile.modele + "_" + @aile.annee.to_s() %>
			<% @image_url = "kites/" + @image_url.downcase.delete(' ').delete('.') + "-small.png" %>
			<% if  Rails.application.assets.find_asset(@image_url).nil? then @image_url="kites/base-large.jpg"  end%>
			<%= image_tag @image_url %>
		</div>
		<div class="span9">
			<br/>
			<p class="lead justify">Pour un prix assez abordable, la Rally est une aile plutôt polyvalente. Le redécollage est aussi assez facile et l'aile est plutôt réactive. Cependant, pas de gros changements avec l'année dernière, il peut donc être plus intéressant d'acheter la génération précédente.</p>
		</div>
	</div>
</div>




<style>
.row {
	margin-left: auto;
	margin-right: auto;
}
.cadre {
background-color:#ecf0f1;
border:1px solid #ecf0f1;
padding:20px;
padding-left:10px;
border-radius:10px;
}
.justify {
text-align: justify;
}
</style>
