<%= form_for(@type_critique) do |f| %>
  <% if @type_critique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_critique.errors.count, "error") %> prohibited this type_critique from being saved:</h2>

      <ul>
      <% @type_critique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
