<%= form_for(@materiel) do |f| %>
  <% if @materiel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiel.errors.count, "error") %> prohibited this materiel from being saved:</h2>

      <ul>
      <% @materiel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_materiel %><br>
    <%= f.text_field :type_materiel %>
  </div>
  <div class="field">
    <%= f.label :modele %><br>
    <%= f.text_field :modele %>
  </div>
  <div class="field">
    <%= f.label :marque %><br>
    <%= f.text_field :marque %>
  </div>
  <div class="field">
    <%= f.label :annee %><br>
    <%= f.number_field :annee %>
  </div>
  <div class="field">
    <%= f.label :url_image %><br>
    <%= f.text_field :url_image %>
  </div>
  <div class="field">
    <%= f.label :prix_neuf %><br>
    <%= f.number_field :prix_neuf %>
  </div>
  <div class="field">
    <%= f.label :prix_occasion %><br>
    <%= f.number_field :prix_occasion %>
  </div>
  <div class="field">
    <%= f.label :description_avantages %><br>
    <%= f.text_area :description_avantages %>
  </div>
  <div class="field">
    <%= f.label :description_inconvenients %><br>
    <%= f.text_area :description_inconvenients %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
