<p id="notice"><%= notice %></p>

<p>
  <strong>Type :</strong>
  <%= @materiel.materieltype_id %>
</p>

<p>
  <strong>Marque :</strong>
  <%= @materiel.marque_id %>
</p>

<p>
  <strong>Modèle :</strong>
  <%= @materiel.modele %>
</p>

<p>
  <strong>Année :</strong>
  <%= @materiel.annee %>
</p>

<p>
  <strong>Image :</strong>
  <%= image_tag @materiel.url_image %>
</p>

<p>
  <strong>Prix neuf nue :</strong>
  <%= @materiel.prix_neuf %>
</p>

<p>
  <strong>Prix occasion nue :</strong>
  <%= @materiel.prix_occasion %>
</p>

<p>
  <strong>Avantages :</strong>
  <%= @materiel.description_avantages %>
</p>

<p>
  <strong>Inconvenients :</strong>
  <%= @materiel.description_inconvenients %>
</p>

<%= link_to 'Edit', edit_materiel_path(@materiel) %> |
<%= link_to 'Back', materiels_path %>
