<p id="notice"><%= notice %></p>

<p>
  <strong>Materieltype:</strong>
  <%= @materiel.materieltype_id %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @materiel.modele %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @materiel.marque_id %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @materiel.annee %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @materiel.url_image %>
</p>

<p>
  <strong>Prix neuf:</strong>
  <%= @materiel.prix_neuf %>
</p>

<p>
  <strong>Prix occasion:</strong>
  <%= @materiel.prix_occasion %>
</p>

<p>
  <strong>Description avantages:</strong>
  <%= @materiel.description_avantages %>
</p>

<p>
  <strong>Description inconvenients:</strong>
  <%= @materiel.description_inconvenients %>
</p>

<%= link_to 'Edit', edit_materiel_path(@materiel) %> |
<%= link_to 'Back', materiels_path %>