<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @groupe_aile.titre %>
</p>

<p>
  <strong>Idailes:</strong>
  <%= @groupe_aile.idailes %>
</p>

<%= link_to 'Edit', edit_groupe_aile_path(@groupe_aile) %> |
<%= link_to 'Back', groupe_ailes_path %>
