<%= form_for(@critique_aile) do |f| %>
  <% if @critique_aile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critique_aile.errors.count, "error") %> prohibited this critique_aile from being saved:</h2>

      <ul>
      <% @critique_aile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_critique_id %><br>
    <%= f.number_field :type_critique_id %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :lien %><br>
    <%= f.text_field :lien %>
  </div>
  <div class="field">
    <%= f.label :contenu %><br>
    <%= f.text_area :contenu %>
  </div>
  <div class="field">
    <%= f.label :aile_id %><br>
    <%= f.number_field :aile_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
