<h1>Listing materiel_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materiel_types.each do |materiel_type| %>
      <tr>
        <td><%= materiel_type.name %></td>
        <td><%= link_to 'Show', materiel_type %></td>
        <td><%= link_to 'Edit', edit_materiel_type_path(materiel_type) %></td>
        <td><%= link_to 'Destroy', materiel_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materiel type', new_materiel_type_path %>
