<!DOCTYPE html>
<html lang="fr">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<% if !(@title.nil?) %>
			<%= @title + " |"%>
		<% end %>
  CompareKite
	</title>
	<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= metamagic %>
	
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="/">CompareKite</a>
				<ul class="nav">					
					<li><a href="/blog">Blog</a></li>
					<li><a href="/ailes">Les ailes</a></li>
				</ul>
			</div>
		</div>
	</div>	

	<%= yield %>

	<%= render "shared/footer" %>

</body>
</html>
