<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag "bootstrap-responsive.css" %>
	<title>KiteCompare | <%= @title %></title>
	<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="brand" href="/"><i class="icon-fire icon-white"></i>KiteCompare</a>
				<div class="nav-collapse collapse">
					<ul class="nav">

						<li><a href="/">Home</a></li>
						<li><a href="/pages/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	

	<%= yield %>

	<style>
	body {
		padding-top: 60px;
		padding-bottom: 40px;
		padding-left:20px;
		padding-right:20px;
	}
	</style>

	<hr class="">
	<small><p class="text-center">Site fraîchement cuisiné par @loic_lwrt et Tobios</p></small>

</body>
</html>
