<!DOCTYPE html>
<html lang="fr">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KiteCompare | <%= @title %></title>
	<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="brand" href="/"><i class="icon-fire icon-white"></i>CompareKite</a>
				
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/pages/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	

	<style>
	body {
		padding-top: 70px;
		padding-bottom: 40px;
		padding-left:20px;
		padding-right:20px;
	}
	
	.navbar-inner {
	    border-radius: 0px !important;
		padding-left: 0;
	}
	</style>

	<%= yield %>

	<hr class="">
	<small><p class="text-center">Site fraîchement cuisiné par @loic_lwrt et Tobios</p></small>

</body>
</html>
