<!DOCTYPE html>
<html lang="fr">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= @title %> | CompareKite</title>
	<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="/">CompareKite</a>
				<ul class="nav">
					<li><a href="/">Accueil</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/pages/contact">Contact</a></li>
				</ul>

			 <div class="nav-collapse collapse">
			  </div>

			</div>
		</div>
	</div>	

	<style>
	body {
		padding-top: 70px;
		padding-bottom: 40px;
		padding-left:20px;
		padding-right:20px;
	}

	.navbar-inner {
		border-radius: 0px !important;
		padding-left: 0;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		background-image: url(<%= asset_path 'glyphicons-halflings.png' %>);
	}

	.icon-white {
		background-image: url(<%= asset_path 'glyphicons-halflings-white.png' %>);
	}

	.center { 
		float: none; margin-left: auto; margin-right: auto; 
	}

	.justify {
		text-align: justify;
	}

	.lead {
		font-size: 20px;
	}
	</style>

	<%= yield %>

	<%= render "shared/footer" %>

</body>
</html>
